{%extends 'base.html'%}


{% block content %}
    {{block.super}}
<div style = "background-color: blanchedalmond;" class="container-fluid">   
<div style="text-align:center; padding-top: 130px; padding-bottom: 130px; " class="container-fluid" id="moda">

        <div class="content text-center">
                <h1 style="font-size: 80px; font-family: 'Kaushan Script', cursive;"> Welcome  To  The Hood</h1>
              </div>
              <h6 style="text-align:center; color:rgb(253, 253, 253);">{{date|date:"l d  F  Y"}}</h6>

   
    
</div>
<div class="container">
    <hr>  <a href=""><button style = "color: black; font-size: 20px" class="btn btn-outline-light btn-sm">Create a Hood</button></a>  <hr>
    <div class="row">
        {% for neighborhood in neighborhoods%}
            <div class="col-md-4 col-lg-4 col-sm-6 ">
                <div class="card">
                    <div style="text-align:center; color:antiquewhite; background-color:rgb(10, 10, 10);" class="card-header">
                        <h5>{{ neighborhood.neighborhood_name}}</h5>
                    </div>
                    <div style="text-align:center; background-color:rgb(10, 10, 10);" class="card-image">
                        
                            <img class="img-responsive" src="{{neighborhood.image.url}}" alt="" height="200px" width="300px">
                        
                    </div>
                    <div style="background-color:rgb(10, 10, 10);" class="card-footer"> 
                        <a href="^neighborhood/new/post/(\d+)$"><button class="btn btn-outline-primary btn-sm">Join Hood &#8594;</button> </a>
                    </div>
                </div>
                <br>
            <br>
            </div>
            
        {% endfor%}
    
</div>
</div>
{% endblock %}