{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Pacifico&display=swap" rel="stylesheet"> -->



  {%if title%}

  <title>{{title}}</title>

  {%endif%}

  {% block styles %}
    {% bootstrap_css %}

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Oleo+Script+Swash+Caps|Pacifico&display=swap" rel="stylesheet">    
  {% endblock %}

</head>

<body>

    {% include "navbar.html" %}

  {% block content %}  {%endblock%}


  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>